body {
    font-family: Arial, sans-serif;
    background-color: #ffffff00;
    margin: 0;
    padding: 20px;
    color: #333;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

thead {
    background: linear-gradient(135deg, #8daa48, #a7bb50);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type=number], input[type=submit] {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

input[type=submit] {
    background: linear-gradient(135deg, #e2ff5e, #d8ff2b);
    color: rgb(43, 43, 43);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type=submit]:hover {
    background: linear-gradient(135deg, #e2ff5e, #d8ff2b);
}

input[type=number] {
    width: 100px;
}

#bid-amount {
    border: 2px solid #ddd;
}

/* Adjustments for mobile screens */
@media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th, td {
        text-align: left;
    }

    td {
        padding-left: 50%;
        position: relative;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
    }
}
