@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-ExtraLight.eot');
    src: local('☞Exo Soft Extra Light'), local('ExoSoft-ExtraLight'),
        url('ExoSoft-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-ExtraLight.woff2') format('woff2'),
        url('ExoSoft-ExtraLight.woff') format('woff'),
        url('ExoSoft-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-Light.eot');
    src: local('☞Exo Soft Light'), local('ExoSoft-Light'),
        url('ExoSoft-Light.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-Light.woff2') format('woff2'),
        url('ExoSoft-Light.woff') format('woff'),
        url('ExoSoft-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-MediumItalic.eot');
    src: local('☞Exo Soft Medium Italic'), local('ExoSoft-MediumItalic'),
        url('ExoSoft-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-MediumItalic.woff2') format('woff2'),
        url('ExoSoft-MediumItalic.woff') format('woff'),
        url('ExoSoft-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-Medium.eot');
    src: local('☞Exo Soft Medium'), local('ExoSoft-Medium'),
        url('ExoSoft-Medium.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-Medium.woff2') format('woff2'),
        url('ExoSoft-Medium.woff') format('woff'),
        url('ExoSoft-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-SemiBold.eot');
    src: local('☞Exo Soft Semi Bold'), local('ExoSoft-SemiBold'),
        url('ExoSoft-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-SemiBold.woff2') format('woff2'),
        url('ExoSoft-SemiBold.woff') format('woff'),
        url('ExoSoft-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-Italic.eot');
    src: local('☞Exo Soft Italic'), local('ExoSoft-Italic'),
        url('ExoSoft-Italic.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-Italic.woff2') format('woff2'),
        url('ExoSoft-Italic.woff') format('woff'),
        url('ExoSoft-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-SemiBoldItalic.eot');
    src: local('☞Exo Soft Semi Bold Italic'), local('ExoSoft-SemiBoldItalic'),
        url('ExoSoft-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-SemiBoldItalic.woff2') format('woff2'),
        url('ExoSoft-SemiBoldItalic.woff') format('woff'),
        url('ExoSoft-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-BoldItalic.eot');
    src: local('☞Exo Soft Bold Italic'), local('ExoSoft-BoldItalic'),
        url('ExoSoft-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-BoldItalic.woff2') format('woff2'),
        url('ExoSoft-BoldItalic.woff') format('woff'),
        url('ExoSoft-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-ExtraLightItalic.eot');
    src: local('☞Exo Soft Extra Light Italic'), local('ExoSoft-ExtraLightItalic'),
        url('ExoSoft-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-ExtraLightItalic.woff2') format('woff2'),
        url('ExoSoft-ExtraLightItalic.woff') format('woff'),
        url('ExoSoft-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-Thin.eot');
    src: local('☞Exo Soft Thin'), local('ExoSoft-Thin'),
        url('ExoSoft-Thin.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-Thin.woff2') format('woff2'),
        url('ExoSoft-Thin.woff') format('woff'),
        url('ExoSoft-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-ExtraBoldItalic.eot');
    src: local('☞Exo Soft Extra Bold Italic'), local('ExoSoft-ExtraBoldItalic'),
        url('ExoSoft-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-ExtraBoldItalic.woff2') format('woff2'),
        url('ExoSoft-ExtraBoldItalic.woff') format('woff'),
        url('ExoSoft-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-Regular.eot');
    src: local('☞Exo Soft'), local('ExoSoft-Regular'),
        url('ExoSoft-Regular.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-Regular.woff2') format('woff2'),
        url('ExoSoft-Regular.woff') format('woff'),
        url('ExoSoft-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-Black.eot');
    src: local('☞Exo Soft Black'), local('ExoSoft-Black'),
        url('ExoSoft-Black.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-Black.woff2') format('woff2'),
        url('ExoSoft-Black.woff') format('woff'),
        url('ExoSoft-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-BlackItalic.eot');
    src: local('☞Exo Soft Black Italic'), local('ExoSoft-BlackItalic'),
        url('ExoSoft-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-BlackItalic.woff2') format('woff2'),
        url('ExoSoft-BlackItalic.woff') format('woff'),
        url('ExoSoft-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-LightItalic.eot');
    src: local('☞Exo Soft Light Italic'), local('ExoSoft-LightItalic'),
        url('ExoSoft-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-LightItalic.woff2') format('woff2'),
        url('ExoSoft-LightItalic.woff') format('woff'),
        url('ExoSoft-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-ThinItalic.eot');
    src: local('☞Exo Soft Thin Italic'), local('ExoSoft-ThinItalic'),
        url('ExoSoft-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-ThinItalic.woff2') format('woff2'),
        url('ExoSoft-ThinItalic.woff') format('woff'),
        url('ExoSoft-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-Bold.eot');
    src: local('☞Exo Soft Bold'), local('ExoSoft-Bold'),
        url('ExoSoft-Bold.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-Bold.woff2') format('woff2'),
        url('ExoSoft-Bold.woff') format('woff'),
        url('ExoSoft-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ExoSoft';
    src: url('ExoSoft-ExtraBold.eot');
    src: local('☞Exo Soft Extra Bold'), local('ExoSoft-ExtraBold'),
        url('ExoSoft-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('ExoSoft-ExtraBold.woff2') format('woff2'),
        url('ExoSoft-ExtraBold.woff') format('woff'),
        url('ExoSoft-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

