 .left-bottom{
    position: absolute;
    left: 40wv;
    bottom: 0;
    transform-origin: left bottom;
}

 .left-bottom .container {
    position: absolute;
    bottom: 0px;
    left: 350px;
    display: flex;
    align-items: center;
}

 .left-bottom .container .icons {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

 .left-bottom .container .icons .icon-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

 .left-bottom .container .icons .icon-1 .microphone {
    min-width: 31px;
    width: 31px;
    min-height: 45px;
    height: 45px;
}

 .left-bottom .container .icons .icon-1 .microphone.active svg path {
    fill: #FEB333;
}

 .left-bottom .container .icons .icon-1 .microphone svg {
    height: 100%;
    width: 100%;
}

 .left-bottom .container .icons .icon-1 .microphone svg path {
    fill: rgba(149, 149, 149, 0.75);
    transition: 0.15s linear;
}
