@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"), url(../fonts/Montserrat-ThinItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url(../fonts/Montserrat-ExtraLightItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url(../fonts/Montserrat-LightItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("Montserrat Italic"), local("Montserrat-Italic"), url(../fonts/Montserrat-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url(../fonts/Montserrat-MediumItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url(../fonts/Montserrat-SemiBoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url(../fonts/Montserrat-BoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url(../fonts/Montserrat-ExtraBoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url(../fonts/Montserrat-BlackItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local("Montserrat Thin"), local("Montserrat-Thin"), url(../fonts/Montserrat-Thin.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url(../fonts/Montserrat-ExtraLight.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Montserrat Light"), local("Montserrat-Light"), url(../fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Montserrat Regular"), local("Montserrat-Regular"), url(../fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Montserrat Medium"), local("Montserrat-Medium"), url(../fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(../fonts/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Montserrat Bold"), local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url(../fonts/Montserrat-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("Montserrat Black"), local("Montserrat-Black"), url(../fonts/Montserrat-Black.ttf) format("truetype");
}

body {
    margin: 0;
    overflow: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.online-list-wrapper {
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    overflow: hidden;
    user-select: none;
}

.online-list-wrapper .header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    color: #fe3333;
    text-align: center;
    position: relative;
    margin-bottom: 45px;
    width: 100%;
}

.online-list-wrapper .header::after {
    content: '';
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 60px;
    background-color: #ff0000;
}

.online-list-wrapper .online {
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: right center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.online-list-wrapper .online .container {
    position: relative;
    max-height: 800px;
    min-width: 725px;
    width: 725px;
    max-width: 725px;
    background-color:rgba(250, 0, 0, 0.155);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 0 0 20px rgba(250, 0, 0, 0.155);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 30px 50px;
}

.online-list-wrapper .online .container .subheader {
    font-size: 18px;
    line-height: 1;
    color: #ffffff;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.online-list-wrapper .online .container .subheader .bold {
    font-weight: 700;
}

.online-list-wrapper .online .container .subheader .translucent {
    color: rgba(255, 255, 255, 0.5);
}

.online-list-wrapper .online .container .table-scroll {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 100%;
    overflow: hidden;
    margin: 0 -50px;
    margin-top: 30px;
}

.online-list-wrapper .online .container .table-scroll .table-head {
    padding-right: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

.online-list-wrapper .online .container .table-scroll .table-body {
    margin-top: 15px;
    overflow-y: scroll;
}

.online-list-wrapper .online .container .table-scroll .table-body::-webkit-scrollbar {
    width: 5px;
}

.online-list-wrapper .online .container .table-scroll .table-body::-webkit-scrollbar-track {
    border-radius: 2.5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.online-list-wrapper .online .container .table-scroll .table-body::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background-color: #FEB333;
}

.online-list-wrapper .online .container table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

.online-list-wrapper .online .container table tr th, .online-list-wrapper .online .container table tr td {
    padding: 15px 20px 15px 0;
    text-align: left;
    width: 120px;
    color: #ffffff;
    font-size: 18px;
    word-break: break-word;
}

.online-list-wrapper .online .container table tr th:first-child, .online-list-wrapper .online .container table tr td:first-child {
    padding-left: 50px;
}

.online-list-wrapper .online .container table tr th:last-child, .online-list-wrapper .online .container table tr td:last-child {
    padding-right: 50px;
}

.online-list-wrapper .online .container table tr th:nth-child(2), .online-list-wrapper .online .container table tr td:nth-child(2) {
    width: auto;
}

.online-list-wrapper .online .container table thead th {
    position: sticky;
    top: 0;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    padding: 20px 0;
}
