body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #33333300; /* Example background color */
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  color: rgb(176, 252, 0);
  background-color: rgb(49, 49, 49);
  border: 2px solid rgb(236, 253, 0);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.wheel {
  margin-top: 20px;
}

.bet-container {
  margin-bottom: 10px;
}

.bet-input {
  padding: 5px;
  margin-left: 5px;
  width: 150px; /* Adjust as needed */
}
