body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #33333300; /* Example background color */
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #FFF; /* Changed to white for better contrast */
  background-color: #1A1A1A; /* Darker background for buttons */
  border: none; /* Removed border */
  border-radius: 5px; /* Added rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  color: chartreuse;
}

.button:active {
  transform: scale(0.95);
}

.wheel {
  margin-top: 20px;
}

.bet-container {
  margin-bottom: 10px;
}

.bet-input {
  padding: 5px;
  margin-left: 5px;
  width: 150px; /* Adjust as needed */
}
